<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>
		{% if page.title == "Home" %}
			{{ site.title }}
		{% else %}
			{{ page.title }} &middot; {{ site.title }}
		{% endif %}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/apple-touch-icon-iphone-60x60.png" | relative_url }}">
	
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/apple-touch-icon-ipad-76x76.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/apple-touch-icon-iphone-retina-120x120.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/apple-touch-icon-ipad-retina-152x152.png" | relative_url }}">
	<meta name="google-site-verification" content="bF3j9df0-bPgrHO2s1NNxrAAjRBviaREfcAr-G4iBEk" />

	{% seo %}
</head>
